<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{HH:mm:ss}}{cyan} [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white} [%style{%c{1}}{magenta}] - %msg%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileLogger" fileName="logs/VOIS_Automation_Task.log"
                     filePattern="logs/VOIS_Automation_Task-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

        <!-- Reduce log noise from Selenium and others -->
        <Logger name="org.openqa.selenium" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.http" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.testng.internal.Utils" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
